.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  justify-content: center
}

.center {
  justify-content: center;
}

.marginTop {
  margin-top: 10%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  margin-bottom:2%;
}

#gamedivider {
  margin-top: 5%
}

.gameContainer.grid.ui {
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.buttonBar {
  display: flex;
  justify-content: center;
  margin: 4%;
}

.ui.followButton {
  margin-left: 25%;
  margin-top: 10%;
}

.gamePageHeader {
  margin-top: 5%;
}

.followers {
  margin-top: 4%;
}

.showMe {
  background-color: lightpink;
  border-style: dashed;
  border-width: thin;
  border-color: red;
}

.showMeComments {
  background-color: lightgreen;
  border-style: dashed;
  border-width: thin;
  border-color: red;
}

body {
  background-color: #4c5c68;
  color: #1A1B1C;

}

.navbar.menu {
  background-color: #46494c;
  color: #C5C3C6;
}

.border.selectBorder {
  border-style: ridge;
  border-color: #C5C3C6;
}

.fontColor {
  color: #46494C;
}

.lavenderGray.fontColor.navbar {
  color: #C5C3C6;
  font-weight: bolder;
}


#searchBar {
  background-color: #DCDCDD;
  border-color:#C5C3C6
}

.blueButton.yes.ok.cmon {
  color: #4c5c86;
  border-style: solid;
  border-color: #4c5c86;
}

.loadMore.yes.okay.cmon {
  color: #DCDCDD;
  border-style: solid;
  border-color: #4c5c86;
  background-color: #4c5c86;
}

.blueFollowerButton.yes.okay.cmon.followButton { 
  color: #DCDCDD;
  border-style: solid;
  border-color: #4c5c86;
  background-color: #4c5c86;
}

.outer.space.yes.ok.cmon {
  color: black
}

.card.ui.gameCard {
  background-color: #DCDCDD;
}

#gameFollow {
  margin-top: -15%
}

.postBox {
  display: flex;
  justify-content: center;
}

#newPostButton{
  color: #DCDCDD;
  border-style: solid;
  border-color: #4c5c86;
  background-color: #4c5c86;
  margin-left:1%;
}

#userInfo {
  margin-left: 50%;
  margin-top: 50%;
}

.description {
  padding-left: 25%;
  padding-right: 25%;
}

.posts.postcard.lined {
  border-style: solid;
  border-color: #46494C;
  border-width: 1px 2px 1px 2px;
  border-radius: 0.5em;

}

#startPosts {
  margin-top: 5%
}

.blackText {
  color: #1A1B1C
}

#postCardTitle {
  margin: 0;

}

#postCardCommentCount {
  margin: 0;
}

#postCardAuthor {
  margin-bottom: 1%;
}

.modalColor.yes.okay.cmon {
  background-color: #4c5c68;
  color: #1A1B1C;
}

.inputField.yes.okay.cmon.postModal {
  background-color: #DCDCDD
}

#postSubmit {
  color: #DCDCDD;
  border-style: solid;
  border-color: #4c5c86;
  background-color: #4c5c86;
}

#postTitle {
  margin-top: 5%;
}

#postBody {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  font-size: 1.33em;
}

#postAuthor {
  color: #1A1B1C;
  font-size: 1.25em;
  font-weight: bold;
}

#commentSubmit {
  color: #DCDCDD;
  border-style: solid;
  border-color: #4c5c86;
  background-color: #4c5c86;
}

#newComment{
  color: #DCDCDD;
  border-style: solid;
  border-color: #4c5c86;
  background-color: #4c5c86;
  margin-left:1%;
}

#addComments {
  margin-bottom: 5%;
}

#addAComment {
  margin-top: 0.5em;
}

#friendReqButton {
  color: #DCDCDD;
  border-style: solid;
  border-color: #4c5c86;
  background-color: #4c5c86;
  margin-left: 75%;
}

.ui.container.comment {
  border-style: solid;
  border-color: #1A1B1C;
  border-width: 1px 2px 1px 2px;
  border-radius: 0.5em;
  padding-top: 1%;
  padding-bottom: 1%;
}

 #commentAuthor {
  color: #1A1B1C;
  font-size: 1.25em;
  font-weight: bold;
}

#notFollowing {
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 5%;
}

#gameDescription {
  display:flex;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.friends {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.friend.yes.okay.cmon {
  color: #1A1B1C;
}

#gameNameOnPost {
  font-weight: bolder;
}

.postFeed {
  margin-top: 5%;
}